header {
  height: 100px;
  width: 100%;
  display: flex;
  background: #0e88d7;
  align-items: center;
  justify-content: center;
}
header a {
  padding: 10px;
  text-decoration: none;
  border-radius: 2px;
  color: white;
  margin: 0 5px;
}
header button {
  background: transparent;
  border: none;
  color: white;
  padding: 10px;
  outline: none;
  cursor: pointer;
}
.active-link {
  color: black;
  background: white;
}
